*{
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body{
    background-image: url("../img/Solar-system.jpg");
    background-size: 100rem;
}

.container{
    margin-top: 100px;
    width: 700px;
    background: #ffffffc5;

}

.container, .btn_container{
    overflow: hidden;
}

.container, table{
    margin-left: auto;
    margin-right: auto;
}

h1{
    margin-top: 20px;

}

h1, .btn_container{
    text-align: center;
}

.btn_container{
    padding: 20px;
}

.btn{
    padding: 10px;
    display: inline-block;
}

td{
    padding-right: 15px;
    padding-bottom: 10px;  
}

tr{
    text-align: center;
}

input{
    height: 35px;
    width: 150px;
}


input, .item{
    padding: 10px;
    border: 1px solid;
    font-size: 15px;
}

input, .item, .container{
    border-radius: 10px;
}

.numeracion_planetas{
    width: 40px;
    border-color: #9c9a9a;
    padding: 7px;
}

.item{
    background: #03be0c;
    color: #fff;
    border-color: #04830a;
}

.item:hover{
    background: #036e7c;
    border-color: #01454e;
}