@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

*{
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body{
    background-image: linear-gradient(0deg, rgba(34, 34, 34, 0.514), rgba(34, 34, 34, 0.514)),url("../img/Solar-system.jpg");
    background-size: 100rem;
}

main {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.container-fluid {
    margin: 20px;
}

/* formulario  registro*/

h1 {
    text-align: center;
    font-weight: bold;
}

h1, .form-label {
    color: #fefefe;
}

.form-label {
    margin-left: 10px;
}

.form-control, #btnAgregar {
    border-radius: 16px;
}

#btnAgregar {
    margin-top: 30px;
    width: 150px;
}

/* formulario opciones  */

h2 {
    color: #fefefe;
}

.btn-buscar {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

/* resultado busqueda */

#resultados {
    background: #0d6efd;
}

#resultados h4, #resultados th, #resultados td {
    color: #fefefe;
}

#select-ordenar {
    border-radius: 16px;
}
/* tabla */

.container-table {
    background: #ffffff;
    padding: 10px;
    border-radius: 16px;
}

/* media query */

@media (max-width: 780px) {
    
    main {
        width: 90%;
    }

    /* formulario registro */
    .form-label {
        font-size: 14px;
    }

    /* formulario opciones */


}

